{
  "swagger": "2.0",
  "info": {
    "title": "Open Referral (Jekyll) API",
    "description": "This is a prototype website for storing and working with data about working with human services organizations and locations.",
    "termsOfService": "",
    "version": "1.0.0"
  },
  "host": "jekyll.open.referral.adopta.agency",
  "basePath": "/api",
  "schemes": [
    "http"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/locations/": {
      "get": {
        "summary": "Locations",
        "description": "Retrieve all of the locations available in this database.",
        "operationId": "retrieveLocations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/location"
              }
            }
          }
        },
        "tags": [
          "Locations"
        ]
      }
    },
    "/organizations/": {
      "get": {
        "summary": "Organizations",
        "description": "Retrieve all of the organizations available in this database.",
        "operationId": "retrieveLOrganizations",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/organization"
              }
            }
          }
        },
        "tags": [
          "Organizations"
        ]
      }
    }
  },
  "definitions": {
    "locations": {
      "properties": {
        "id": {
          "description": "the id for the job",
          "type": "string"
        },
        "position_title": {
          "description": "the title for the position",
          "type": "string"
        },
        "organization_name": {
          "description": "the organization name",
          "type": "string"
        },
        "rate_interval_code": {
          "description": "the rate interval code",
          "type": "string"
        },
        "minimum": {
          "description": "minimum id",
          "type": "string"
        },
        "maximum": {
          "description": "the maximum id",
          "type": "string"
        },
        "start_date": {
          "description": "the start date",
          "type": "string"
        },
        "end_date": {
          "description": "the end date",
          "type": "string"
        },
        "locations": {
          "description": "the job locations",
          "type": "string"
        },
        "url": {
          "description": "the url for the job",
          "type": "string"
        }
      }
    },
    "organizations": {
      "properties": {
        "id": {
          "description": "the id for the job",
          "type": "string"
        },
        "position_title": {
          "description": "the title for the position",
          "type": "string"
        },
        "organization_name": {
          "description": "the organization name",
          "type": "string"
        },
        "rate_interval_code": {
          "description": "the rate interval code",
          "type": "string"
        },
        "minimum": {
          "description": "minimum id",
          "type": "string"
        },
        "maximum": {
          "description": "the maximum id",
          "type": "string"
        },
        "start_date": {
          "description": "the start date",
          "type": "string"
        },
        "end_date": {
          "description": "the end date",
          "type": "string"
        },
        "locations": {
          "description": "the job locations",
          "type": "string"
        },
        "url": {
          "description": "the url for the job",
          "type": "string"
        }
      }
    }
  }
}
