<style>
td
  {
  padding:2px;
  }
td {
  font-size: 12px;
}
</style>
{% assign show = 0 %}
{% for organization in site.data.organizations %}
  {% if organization.id == id and show == 0 %}

    <h1>{{ organization.name | capitalize }}</h1>
    <p>{{ organization.description | replace: '\n', '<br />' }}</p>
    <p><strong>Website:</strong> {{ organization.website }}</p>

    <div class="row">
      <div class="col-lg-4">
        <h4>Contacts</h4>
        <ul>
        {% for contact in organization.contacts %}
          <li>{{ contact.name }} ({{ contact.title }}) - {{ contact.email }}</li>
        {% endfor %}
        </ul>
      </div>
      <div class="col-lg-4">
        <h4>Phones</h4>
        <ul>
        {% for phone in organization.phones %}
          <li>{{ phone.number }} ({{ phone.number_type }})</li>
        {% endfor %}
        </ul>
     </div>
     <div class="col-lg-4">
       <h4>Locations</h4>
       <ul>
         {% for location in site.data.locations %}
          {% if location.organization.id == id %}
             <li>{{ location.organization.name | capitalize }} - {{ location.address.address_1 }} {{ location.address.city }}, {{ location.address.state_province }} {{ location.address.postal_code }}</li>
           {% endif %}
         {% endfor %}
       </ul>
    </div>
    </div>

    {% assign show = 1 %}
  {% endif %}
{% endfor %}
